.matcher-page {
  @include container;

  flex-grow: 1;
  padding: 60px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.matcher-page__inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: start;
  justify-content: space-between;
}

.matcher-page h1 {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 41px;

  @include mobile {
    font-size: 26px;
  }
}

.matcher-page button {
  @include button;

  display: flex;
  justify-content: center;
  padding: 10px 35px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;

  font-weight: 700;
  font-size: 16px;
  text-decoration: none;

  @include mobile {
    padding: 10px 25px;

    font-size: 14px;
  }

  &:disabled {
    background-color: #999999;
    cursor: default;
    filter: grayscale(100%);
  }
}

.matcher-page__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-flow: column;

  border: none;
}

.matcher-page__item-title {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: bold;
}

.matcher-page__results {
  margin: 0;
  margin-bottom: -20px;
  padding: 0;

  font-size: 14px;
}

.matcher-page input {
  font-size: 16px;
}

.matcher-page textarea {
  font-size: 16px;
  resize: vertical;
}

.matcher-page__checkbox-label {
  cursor: pointer;
}

.matcher-page__pattern-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before,
  &::after {
    content: "/";
    margin-right: 5px;
    margin-left: 5px;

    font-size: 24px;
    color: $disabled-color;
  }
}

.matcher-page__pattern-inner input {
  display: block;
  width: 100%;
}

.matcher-page label {
  display: flex;
  align-items: center;
}

.matcher-page [type="checkbox"] {
  margin-right: 10px;
}
